*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.755);
}
.div1{
    background: linear-gradient(rgba(5, 3, 2, 0.679), rgba(0, 0, 0, 0.5)),url(Images/NG-en-20240715-POP_SIGNUP_TWO_WEEKS-perspective_WEB_f1be5089-bf3d-489d-9b46-2602fabe9c70_small.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}
.normal-link{
    color: white;
    text-decoration: none;
}
.div2{
    display: flex;
    justify-content: space-around;
}
.button{
    width: 90px;
    height: 40px;
    background-color: red;
    border-radius: 6px;
    margin-top: 40px;
    color: white;
    border: none;
}
.head{
    height: 100vh;
    align-content: center;
    margin-left: 350px;
    margin-bottom: 300px;
}
.bold{
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 7px;
}
.bolder{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 300px;
}
.boldest{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 120px;
    padding-bottom: 10px;
    font-weight: 400;
    font-stretch: 100%;
}
.email{
    margin-left: 140px;
    padding-left: 10px;
    height: 10vh;
    background-color: black;
    color: white;
    font-size: 19px;
}
.btc{
    width: 100px;
    height: 10vh;
    background-color: red;
    color: white;
    border-radius: 10px;
}
.one{
    background-color: black;
    margin-top: 10px;
    padding-top: 20px;
    height: 65vh;
    display: flex;
    /* align-content: center; */
    /* justify-content: center; */
}
.Subhead{
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 900;
    margin-top: 100px;
    margin-left: 300px;
}
.text{
    color: white;
    font-size: 20px;
    margin-left: 300px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.img{
    display: inline;
    justify-content: space-between;
    margin-top: 50px;
}
.Subhea{
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 900;
    margin-top: -290px;
    margin-left: 700px;
}
.im{
    display: inline;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 300px;
}
.tet{
    color: white;
    font-size: 20px;
    margin-left: 700px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.one1{
    background-color: black;
    margin-top: 10px;
    padding-top: 20px;
    height: 120vh;
    display: flex;
}
.freq{
    color: white;
    font-size: 48px;
    font-weight: 900;
    padding: 0px  350px;
    font-family: Arial, Helvetica, sans-serif;
}
.twoo2{
    /* background-color: black; */
    padding: 50px 200px;
}
.btx{
    width: 1000px;
    height: 10vh;
    background-color: #2d2d2d;
    color: white;
    border-radius: 10px;
    margin: 2px;
    border-radius: 0px;
    text-align: left;
    font-size: 24px;
    padding: 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.tch{
    margin: 0px 370px;
    padding-left: 10px;
    height: 10vh;
    background-color: black;
    color: white;
    font-size: 19px;
}
.boldes{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 380px;
    padding-bottom: 10px;
    font-weight: 400;
    font-stretch: 100%;
}
.bt{
    width: 100px;
    height: 10vh;
    background-color: red;
    color: white;
    border-radius: 10px;
    margin-left: -350px;
}
.one11{
    background-color: black;
    margin-top: 10px;
    padding-top: 20px;
    height: 50vh;
    display: flex;
}
.link{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    font-weight: 400;
    padding-left: 300px;
}
.link2{
    padding-left: 300px;
    padding-top: 10px;
}
.link1{
    padding-left: 100px;
    padding-top: 80px;
}
.normal-link1{
    color: #a7a7a7a6;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.p{
    padding-top: 20px;
    padding: 250px 2 0px;
}
.bu{
    background-color: black;
    color: white;
    width: 100px;
    height: 4vh;
    padding-left: 10px;
}
.h4{
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
}